**/*.log
**/*.ini
**/*.exe

assembly001/doc/connector.pdf
assembly001/doc/connector.ps
assembly001/result.txt
assembly002/result.0.11.txt
assembly002/result.0.txt
assembly002/result.txt
assembly004/doc/manual.idx
assembly004/doc/manual.out
assembly004/doc/manual.pdf
assembly004/doc/scheme.eps
assembly004/doc/scheme.pdf
assembly004/doc/scheme.ps
assembly004/result.txt
assembly006/doc/cable.pdf
assembly006/doc/cable.ps
assembly006/doc/scheme.pdf
assembly006/doc/scheme.ps
assembly007/assembly007-2.0.1-win32.zip
assembly007/assembly007-2.0.1.zip
assembly007/assembly007.exe
assembly007/assembly007.ini
assembly007/assembly007.kit
assembly007/assembly007.log
assembly007/cyr2uc.tcl
assembly007/manual.pdf
assembly007/doc/manual.aux
assembly007/doc/manual.log
assembly007/doc/manual.out
assembly007/doc/manual.pdf
assembly007/doc/manual.toc
assembly007/doc/scheme.pdf
assembly007/doc/scheme.ps
assembly007/doc/title.tex
assembly007/sdx.kit
assembly007/tclkit-8.5.8-linux-ix86
assembly007/tclkit-8.5.8-win32-x86_64.exe
assembly007/tclkit-8.5.8-win32.upx.exe
box/scheme.pdf
box/scheme.ps
box2/labels.odt
box2/labels.pdf

assembly006/doc/manual.pdf
assembly007/doc/manual.synctex.gz

box2/#scheme-test-ohm.sch#
box2/#scheme-test-va.sch#
box2/#scheme-test-vman.sch#
box2/#scheme-test-vv.sch#
box2/#scheme.sch#
box2/notes.aux
box2/notes.log
box2/notes.out
box2/notes.pdf
box2/notes.synctex.gz
box2/scheme-test-ohm.sch~
box2/scheme-test-vv.sch~
box2/scheme.pdf
box2/scheme.ps
box2/scheme.sch~

assembly007/assembly007.vfs/lib/tclvisa0.3.0/License.rtf
assembly007/assembly007.vfs/lib/tclvisa0.3.0/license.terms
assembly007/assembly007.vfs/lib/tclvisa0.3.0/tclvisa030.dll
assembly007/assembly007.vfs/lib/tclvisa0.3.0/pkgIndex.tcl
assembly007/assembly007.vfs/lib/tclvisa0.3.0/doc/*
assembly007/assembly007.vfs/lib/tclvisa0.3.0/demo/*

commons/doc/dut/geometry.log
